<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fight the monster!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container py-3">

    <img class="mx-auto d-block img-fluid" th:src="@{/adapter/primo-geovishap.jpg}" />

    <div class="row">
        <div class="text-center mx-auto col-md-12">
            <h1>You are fighting a boss</h1>
            <h2>Who will attack next?</h2>
        </div>
    </div>

    <!--ToDo: Complete me-->
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2" th:each="weapon: ${weapons}">
            <div class="card text-center text-dark">
                <div class="card-body p-3">

                    <h1 class="card-title" th:text="${weapon.getHolderName()}"></h1>
                    <br />
                    <h5 th:text="${weapon.getName()}"></h5>
                        <form class="form-group"
                              th:action="@{/battle/attack/}"
                              method="POST">
                        <input name="weaponName" type="hidden" th:value="${weapon.getName()}"><h5 th:value="${weapon.getName()}"></h5></input>
                    <br />
                        <input name="attackType" type="hidden" th:value="${0}"><a th:href="@{/battle/attack/}">
                        <button class="btn btn-outline-primary mb-2">Normal Attack</button></a></input>
                        </form>
                        <form class="form-group"
                              th:action="@{/battle/attack/}"
                              method="POST">
                            <input name="weaponName" type="hidden" th:value="${weapon.getName()}"><h5 th:value="${weapon.getName()}"></h5></input>
                            <input name="attackType" type="hidden" th:value="${1}"><a th:href="@{/battle/attack/}">
                            <button class="btn btn-outline-primary">Charged Attack</button></a></input>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <!--ToDo: Complete me-->
    <div class="card text-left text-dark p-4">
        <h1 class="card-title">Battle Log:</h1>
        <ol class="pl-3 text-left">
            <div th:each="x:${logs}">
                <li th:text="${x}"></li>
            </div>
        </ol>
    </div>

</div>
</body>
</html>